
<div class="container">
    <h1> ToDo App</h1>
    <a routerLink="/login">Login</a>
  
  <hr>
    Title <input type="text" class="form-control" [(ngModel)]="selectedTask.title"/><br>
    Description <input type="text"  class="form-control" [(ngModel)]="selectedTask.description"/><br>
    <div class="hidden-input">
      User <input type="text"  class="form-control" [(ngModel)]="selectedTask.user"/><br>
    </div>
    <div class="hidden-input"> 
      Complete <input type="checkbox" [(ngModel)]="selectedTask.complete"/><br>
    </div>
    <div class="d-flex justify-content-center mt-3"> 
      <button class="btn btn-secondary mr-5 " (click)="updateTask(selectedTask,false)">PUT</button> 
      
      <button class="btn btn-success ml-5" (click)="createTask()">POST</button>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Task</th>
          <th scope="col">Description</th>
          <th scope="col">Completed</th>
          <th scope="col">Delete</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td><input id="myCheckbox" type="checkbox" (change)="updateTask(task, true)" [checked]="task.complete"></td>
          <td><button class="btn btn-danger btn-sm" (click)="deleteTask(task)">Delete</button></td>
          <td><button class="btn btn-primary btn-sm" (click)="selectedTask = task">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>