<div class="container">
<form>
    <div class="form-group">
      <label for="usernameLabel">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="loginObj.username" id="usernameInput" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control"[(ngModel)]="loginObj.password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button (click)="onLogin()"type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<router-outlet></router-outlet>
